<div class="headSection">
    <h1>Elegant - <%= page %>
    </h1>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </nav>
</div>